.popup {
  .header {
    padding: 1rem 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // background-color: white;
    // background-color: $colour-1;
    // border-bottom: 2px solid $colour-6;
    .catalog-cat-heading {
      margin-bottom: 3rem;
    }
    .action {
      margin: 1rem 0 2rem;
      display: flex;
      padding-right: 1rem;

      .add-to-cart {
        @include fontSW-LH(14px, 600, 21px);
        padding: 0.65rem 1.5rem;
        background-color: $colour-3;
        color: white;
        border-radius: 50px;
        margin: 0 1rem;
      }
      .add-to-wishlist {
        @extend .add-to-cart;
        background-color: #ffb800;
      }
    }
  }
  .query {
    margin-top: 2rem;
    p {
      a {
        color: $colour-3;
        @include fontSW-LH(18px, 600, 25px);
      }
    }
  }
}

.body {
  padding: 4rem;

  display: grid;
  grid-template-columns: repeat(2, 1fr);

  .product-dis {
    padding-right: 2rem;
    h2 {
      @include fontSW-LH(32px, 500, 48px);
    }
    .price {
      margin: 0.5rem 2rem 0.5rem 0;
    }

    .price span {
      color: $colour-10;
      padding-right: 0.5rem;
      text-decoration: line-through;
    }

    p {
      @include fontSW-LH(18px, 600, 25px);
      color: $colour-7;
    }
    .product-short-dis {
      margin-top: 2rem;
      h2 {
        @include fontSW-LH(18px, 500, 24px);
        padding-bottom: 0.5rem;
      }
      p {
        @include fontSW-LH(14px, 400, 24px);
        padding-left: 0.5rem;
      }
    }
  }

  .product-img {
    display: flex;
    justify-content: center;
    max-width: 500px;
    max-height: 500px;
    overflow: hidden;
  }
}
