@import "./reset";
@import "./variables";
@import "./header";
@import "./index_main";
@import "./footer";


main {
    max-width: 1920px;
    width: $max-width;

    @media screen and (max-width: 500px) {
        width: 100%;
    }

    margin: auto;
}